<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodePrinter" version="1.0.0" targetFramework="net45" />
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net45" />
  <package id="JsonPrettyPrinter" version="1.0.1.1" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="Neodynamic.SDK.ThermalLabel" version="6.0.3516.415" targetFramework="net45" />
  <package id="ObjectPrinter" version="1.0.4" targetFramework="net45" />
  <package id="ObjectPrinter.Log4Net" version="1.0.2" targetFramework="net45" />
  <package id="Tulpep.NotificationWindow" version="1.1.23" targetFramework="net45" />
</packages>